* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header {
    top: 0;
    background-color: #00235a;
    color: white;
    position: fixed;
    width: 100%;
    padding-top: 0.3%;
    padding-bottom: 0.3%;
    display: flex;
    height: 10%;
}

header h1 {
    margin-left: 1%;
    font-size: xx-large;
}

main {
    width: 100%;
    padding-top: 7%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.chart-container {
    left: 10%;
    margin: auto;
    width: 70%;
}

.chart-container canvas {
    border: 1px black;
}

.statsOuterDiv {
    display: flex;
    justify-content: center;
}

.statsInnerDiv1, .statsInnerDiv2, .statsInnerDiv3, .statsInnerDiv4 {
    text-align: left;
    padding-top: 1%;
    padding-right: 1%;
}

footer {
    bottom: 0;
    background-color: #00235a;
    color: white;
    position: fixed;
    text-align: center;
    width: 100%;
    max-height: 10%;
    padding-top: 0.3%;
    padding-bottom: 0.3%;
}

.footerOuterDiv {
    display: flex;
    justify-content: center;
}

.footerInnerDiv1, .footerInnerDiv2, .footerInnerDiv3, .footerInnerDiv4 {
    text-align: left;
    padding-right: 3%;
}


button, select {
    background-color: #0039a6;
    border-color: black;
    border-radius: 4px;
    color: #ffffff;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    transition-duration: 0.4s;
  }
  
  button:hover {
    background-color: #cc092f;
    color: white;
  }